body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=button] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=button]:hover {
  background-color: #45a049;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerStatus {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.info {
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}
.flex{
  display: flex;
}
.border {
  border: 1.5px dotted rgba(217, 207, 207, 0.8);
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0;
}

.label {
  font-weight: 500;
  font-size: 13px;
}
.info p {
  border: 1px solid rgba(217, 207, 207, 0.8);
  border-radius: 5px;
  padding: 10px;
}

.labelSpecial {
  color: rgb(31, 168, 97);
  font-weight: 500;
  left: 30%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: white;
}

.paymentOptions {
  border-radius: 8px;
  padding: 30px;
  display: flex;
}

.payments {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease 0.3s;
  border-radius: 8px;
  height: 100px;
  margin-right: 20px;
  /* background: rgba(79,51,175,.12); */
  border: 1px solid rgba(79,51,175,.24);
  color: #4f33af;
  position: relative;
}

.payments::after {
  position: absolute;
  top: 0;
  right: 0;
}

.payments img {
  width: 70px;
}

.payments:last-child {
  margin-right: 0;
}

.payments:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.active{
  border: 1px solid #4f33af;
}

.paymentMethod {
  display: flex;
  width: 100%;
  justify-content: center;
}

.paymentContainer {
  padding: 0 30px 20px;
  color: #777;
  text-transform: uppercase;
}
h3 {
  font-size: 13px;
}

.header {
  border-bottom: 1px solid #DEE4E7;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px 30px;
}

.paymentItem{
  width: 300px;
  padding: 0 50px;
  border-left: 1.5px dotted rgba(217, 207, 207, 0.8);
}

.modal-main {
  position:fixed;
  background: white;
  width: 70%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  overflow: auto;
  border: 1px solid #ededed;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% auto;
  padding: 10px;
}

.grid-sub-container {
  display: grid;
  grid-template-columns: 50px 100px 200px;
  cursor: pointer;
}

.grid-sub-container:hover {
  border: 1px solid rgba(98, 155, 224, 0.8);
  width: 400px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 4px;
  font-size: 12px;
  text-align: left;
}

.grid-name-item {
  padding: 4px;
  font-size: 12px;
  text-align: left;
}

.grid-radio-item {
  padding-top: 35%;
  text-align: center;
}

.grid-image-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}